
<div class="container"><br><br><br>
    <h1>Modificar Área</h1>
    <br><br><br>
    <div class="row">
        <div class="col-sm-6">
            <form>
                <div class="mb-3">
                    <label class="form-label">Nombre de area</label>
                    <input [(ngModel)]="area.nombre" type="text" class="form-control" name="nombre" placeholder="Nombre del Área">
                </div>
                
                <div class="mb-3">
                    <label class="form-label">Estatus</label>
                    <input [(ngModel)]="area.estado" type="text" class="form-control" name="estatus" placeholder="Estatus">
                </div>
                
                <button (click)="modificar()" class="btn btn-success">Modificar</button>
                <br><br><br><br><br>
            </form>
        </div>
    </div>
    
</div>
