<div class="jumbotron">
  <div class="container">
    <br><br><br>
    <h1 class="display-2">Bienvenidos</h1>
    <p>Proyecto presentado por Salim Rafael Castro Ortiz, estudiante de Ingeniería en Desarrollo y Gestión de Software de la Universidad Tecnológica de Xicotepec de Juárez.</p>

      <br><br>
      <h3 class="display-5">Visita Nuestro Apartados</h3>
      <br>
      <h3 class="display-6"> Áreas 
        <br><br>
        <p><a [routerLink]="['/areas']" class="btn btn-primary btn-lg" role="button">Áreas</a></p>
      </h3>
      <br>
      <h3 class="display-6"> Empleados
        <br><br>
        <p><a [routerLink]="['/empleados']" class="btn btn-danger btn-lg" role="button">Empleados</a></p>
      </h3>
    <br><br><br>
  </div>
</div>