
<div class="container"><br><br><br>
    <h1>Agregar Área</h1>
    <br><br><br>
    <div class="row">
        <div class="col-sm-6">
            <form>
                <div class="mb-3">
                    <label class="form-label">Nombre de Área</label>
                    <input [(ngModel)]="area.nombre" type="text" class="form-control" name="nombre" placeholder="Nombre del Área">
                </div>
                
                <div class="mb-3">
                    <label class="form-label">Estatus</label>
                    <br>
                    <select id="estado" name="estado" [(ngModel)]="area.estado">
                        <option value=" ">-------------</option>
                        <option value="1">Activo</option>
                        <option value="0">Inactivo</option>
                    </select>
                </div>
                
                <button (click)="agregar()" class="btn btn-success">Agregar</button>
                <br><br><br><br><br>
            </form>
        </div>
    </div>
    
</div>
